beautifulsoup4==4.9.0
boto3==1.12.39
botocore==1.15.39
CacheControl==0.12.6
certifi==2020.4.5.1
chardet==3.0.4
docutils==0.15.2
google-search-results==1.8.0
idna==2.9
iso3166==1.0.1
jmespath==0.9.5
mapbox==0.18.0
msgpack==1.0.0
pkg-resources==0.0.0
polyline==1.4.0
python-dateutil==2.8.1
requests==2.23.0
s3transfer==0.3.3
six==1.14.0
soupsieve==2.0
uritemplate==3.0.1
urllib3==1.25.8
